{
  "prerequisites": {
    "foundationUI": "@foundationVersion@",
    "gsf": "@genesisVersion@"
  },
  ,
    "dependencies": {
      "{{appName}}ClientVersion": "@client.version@",
      "{{appName}}ServerVersion": "@server.version@"
    }
}
